
@import "./variables";

.container {
    width: 100%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 140px;
    position: relative;
    @media (min-width: $breakpoint) {
        margin-top: -50px; 
        padding-top: 360px;
    }
    .top {
        display: flex;
        flex-direction: column;
        max-width: 900px;
        margin: 60px 40px 40px 40px;
        @media (min-width: $breakpoint) { flex-direction: row; }
        .header {
            display: flex;
            .label {
                width: 60%;
                h1 { font-size: 45px; }
            }
            .line {
                width: 140px;
                height: 1px;
                background: #C7BDA5;
                margin: 40px 0px 0px 0px;
                @media (min-width: $breakpoint) {
                    margin: 80px 0px 0px 0px;
                }
               
            }
            h1 {
                color: #040136;
                padding: 0px;
                text-align: left;
                font-weight: bold;
            }
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 40px 0px;
            @media (max-width: $breakpoint) { flex-direction: column; }
            @media (min-width: $breakpoint) { width: 50%; }
        }
        
        .summary {   
            color: #1C192B;
            @media (min-width: $breakpoint) {
                width: calc(50% - 30px);
                padding: 70px 0px 0px 0px;
            }
        }
        
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    grid-gap: 40px;
    max-width: 900px;
    margin: 50px auto 100px;
    color: white;
    padding: 0 35px;

    @media (max-width: $breakpoint) {
        display: block;
        margin: 100px auto 90px;
    }

    .card {
        padding: 40px 40px 60px;
        position: relative;

        &:nth-child(1) {
            background-color: #16172c;

            .photo {
                background-image: url("/images/william/avatar.jpg");
            }
        }

        &:nth-child(2) {
            margin-top: 90px;
            background-color: #074d3f;

            .photo {
                background-image: url("/images/bjane/avatar.jpg");
            }
        }

        .photo {
            position: absolute;
            top: -65px;
            right: 45px;
            height: 150px;
            width: 150px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }

        h4 {
            font-size: 18px;
            font-weight: 900;
            margin: 40px 0 10px;
        }

        h6 {
            font-size: 14px;
            margin: 0 0 20px;
            font-weight: 400;
        }

        p {
            font-size: 12px;
            margin: 0;
            font-weight: 400;
            line-height: 22px;
        }
    }
}