
@import "./variables";

.container {
    width: 100%;
    color: grey;
    background: #ECECEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 140px;
    @media (min-width: $breakpoint) {
        margin-top: -50px; 
        padding-top: 360px;
    }
    .top {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 40px 0px;
        max-width: 900px;
        margin: 60px 40px 40px 40px;
        @media (min-width: $breakpoint) { flex-direction: row; }
        .header {
            display: flex;
            .label {
                width: 60%;
                h1 { font-size: 45px; }
            }
            .line {
                width: 40%;
                width: 140px;
                height: 1px;
                background: #C7BDA5;
                margin: 40px 0px 0px 0px;
                @media (min-width: $breakpoint) {
                    margin: 80px 0px 0px 0px;
                }
               
            }
            h1 {
                color: #040136;
                padding: 0px;
                text-align: left;
                font-weight: bold;
            }
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 40px 0px;
            @media (max-width: $breakpoint) { flex-direction: column; }
            @media (min-width: $breakpoint) { width: 50%; }
        }
        
        .summary {   
            color: #1C192B;
            @media (min-width: $breakpoint) {
                width: calc(50% - 30px);
                padding: 70px 0px 0px 0px;
            }
        }
        
    }
    .cards {
        margin: 0px 0px 0px 40px;
        padding: 20px 0px 0px 0px;
    }
    
   
}