@import "./variables";

.container {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url("/images/giraffes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  .title {
    color: $blue;
    font-size: 26px;
    margin: 0px 0px 40px 0px;
    @media (max-width: $breakpoint) {
      font-size: 18px;
      h1 {
        text-align: center;
      }
    }
  }
  .divider {
    width: 120px;
    height: 1px;
    background: white;
    margin: 0px 0px 40px 0px;
  }
  .subTextOne {
    font-size: 20px;
    color: $blue;
    margin: 0px 0px 40px 0px;
    font-weight: bold;
    text-align: center;
    @media (max-width: $breakpoint) {
      font-size: 14px;
      text-align: center;
    }
  }
  .subTextTwo {
    font-size: 20px;
    color: $blue;
    margin: 0px 0px 40px 0px;
    font-weight: bold;
    text-align: center;
    @media (max-width: $breakpoint) {
      font-size: 14px;
      text-align: center;
    }
  }
  .emailForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    background: $blue;
    width: 100px;
    color: white;
    height: 60px;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
  }
  .textInput {
    background: transparent;
    border: 1px solid white;
    width: 300px;
    box-sizing: border-box;
    height: 60px;
    text-transform: uppercase;
    margin: 0px 10px 20px 0px;
    padding-left: 20px;
  }
  .textInput::placeholder {
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .back {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    svg {
      width: 16px;
      height: 16px;
      margin: 0px 0pox 0px 10px;
    }
  }
}
