
@import "./variables";

.container {
    width: 100%;
    height: 100vh;
    min-height: 1200px;
    background-image: url("/images/giraffes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    @media (min-width: $breakpoint) { padding-top: 240px; }

    @media (max-width: $breakpoint) {
        min-height: 1400px;
        background-position: 60% 20%;
    }
    .title {
        font-size: 44px;
        line-height: 50px;
        font-weight: 900;
        color: $blue;
        text-align: center;
        margin: 0px 0px 20px 0px;

        @media (max-width: $breakpoint) {
            font-size: 32px;
            line-height: 36px;
            margin: -30px 0px 30px 0px;
        }
    }
    .divider {
        width: 140px;
        height: 1px;
        background: white;
        margin: 0px 0px 30px 0px;
    }
    .sub {
        color: $blue;
        font-size: 16px;
        text-align: center;
        margin: 0px 0px 20px 0px;
        font-weight: 400;
        line-height: 28px;
        @media (min-width: $breakpoint) { width: 600px; }
        @media (max-width: $breakpoint) {
            width: 100%;
            padding: 0 50px;
        }
    }
    .form {
        width: 300px;
        margin: 20px 0px 20px 0px;
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint) { flex-direction: column; }
        @media (min-width: $breakpoint) {
            width: 400px;
            display: flex;
        }
        .inputWrapper {
            margin: 0 10px -14px 0;
            @media (max-width: $breakpoint) {
                margin: 0;
            }
        }
        .input {
            background: transparent;
            border: 1px solid white;
            color: white;
            @media (max-width: $breakpoint) {
                height: 50px;
                width: 280px;
            }
            @media (min-width: $breakpoint) {
                width: 280px;
                height: 50px;
                display: flex;
            }
            input {
                text-align: center;
                font-size: 12px;
                letter-spacing: 2px;
                &::placeholder { color: white; opacity: 1; }
                &:-ms-input-placeholder { color: white; }
                &::-ms-input-placeholder { color: white; }
            }
        }
        .agree {
            font-size: 9px;
            color: grey;
            letter-spacing: 0.2px;
            margin: 0;

            @media (max-width: $breakpoint) {
                margin: 10px 0 10px;
                font-size: 10px;
            }

            a {
                color: grey;
                text-decoration: underline;
            }
        }
        .button {
            width: 280px;
            height: 60px;
            background: $blue;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            @media (min-width: $breakpoint) {
                width: 200px;
                height: 50px;
                font-size: 12px;
                display: flex;
                margin: 0px 0px 0px 5px;
            }

            &:disabled {
                background-color: #ccc;
            }
        }
    }
    .home {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: white !important;
        svg {
            width: 12px;
            height: 12px;
            margin: 0px 0px 0px 10px;
        }
        @media (min-width: $breakpoint) { display: none; }
    }
}
