
@import "./variables";

.board {
    position: relative;
    max-width: 900px;
    width: 100%;
    height: 80vh;
    margin: 0px 0px 40px 0px;
    @media (min-width: $breakpoint) { margin: 0px auto 80px auto; }
    .banner {
        position: absolute;
        width: 100%;
        height: 90%;
        background-image: url("/images/space.jpg");
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        @media (min-width: $breakpoint) { width: 90%; }
    }
    .block {
        position: absolute;
        bottom: 0px;
        right: 0px;
        @media (max-width: $breakpoint) { width: calc(100% - 40px); }
        @media (min-width: $breakpoint) {
            width: 50%;
            max-width: 520px;
        }
        .padding {
            padding: 40px 40px 20px 40px;
            @media (min-width: $breakpoint) { padding: 30px; }
            .pagination {
                display: flex;
                align-items: flex-end;
                font-family: "lato";
                margin: 0px 0px 20px 0px;
                .index {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 30px;
                    margin: 0px 5px 0px 0px;
                    color: white;
                }
                .count {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 16px;
                    color: rgba(255, 255, 255, 0.404);
                    margin: 0px 20px 0px 0px;
                }
                .dots {
                    display: flex;
                    flex-grow: 1;
                    justify-content: flex-start;
                    .dot {
                        width: 10px;
                        height: 10px;
                        margin: 0px 10px 0px 0px;
                        color: white;
                    }
                }
            }
            .header {
                margin: 0px 0px 20px 0px;
                h1 {
                    font-size: 28px;
                    color: #CEAA7A;
                    font-weight: bold;
                    text-align: left;
                    padding: 0px;
                    line-height: 36px;
                }
            }
            .summary {
                color: white;
                margin: 0px 0px 20px 0px;
            }
            .link {
                display: flex;
                color: #CEAA7A;
                align-items: center;
                .label {
                    text-transform: uppercase;
                    font-size: 14px;
                }
                .icon {
                    svg {
                        width: 14px; 
                        height: 14px;
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }
    }
}