
@import "./variables";

.board {
    position: relative;
    max-width: 900px;
    width: 100%;
    height: 80vh;
    margin: 0px 0px 40px 0px;
    @media (min-width: $breakpoint) { margin: 0px auto 80px auto; }
    .banner {
        position: absolute;
        width: 100%;
        height: 90%;
        background-image: url("/images/space.jpg");
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        @media (min-width: $breakpoint) { width: 90%; }
    }
    .block {
        position: absolute;
        bottom: 0px;
        right: 0px;
        @media (max-width: $breakpoint) { width: calc(100% - 40px); }
        @media (min-width: $breakpoint) {
            width: 40%;
            max-width: 440px;
        }
        .padding {
            padding: 20px;
            @media (min-width: $breakpoint) { padding: 40px; }
            .pagination {
                display: flex;
                align-items: flex-end;
                font-family: "lato";
                margin: 0px 0px 20px 0px;
                .index {
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 30px;
                    margin: 0px 5px 0px 0px;
                }
                .count {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 16px;
                    color: rgba(255, 255, 255, 0.404);
                }
                .dots {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-evenly;
                    .dot {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            .label {
                margin: 0px 0px 20px 0px;
                h1 {
                    font-size: 30px;
                    color: #CEAA7A;
                    font-weight: bold;
                    text-align: left;
                    padding: 0px;
                }
            }
            .summary {
                color: white;
                margin: 0px 0px 20px 0px;
            }
            .route {
                display: flex;
                align-items: center;
                color: #CEAA7A;
                svg {
                    width: 16px; height: 16px;
                    margin: 0px 0px -2px 10px;
                }
            }
        }
    }
}