
@import "./variables";

.boards {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: white;
    color: grey;
    .banner {
        position: absolute;
        width: 100%;
        height: 80vh;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
        @media (min-width: $breakpoint) {
            width: 80%;
            height: 80vh;
        }
    }
    .block {
        position: absolute;
        width: calc(100% - 40px);
        bottom: calc(0% + 40px);
        right: 0px;
        background: black;
        transition: background 0.2s ease-in-out;
        @media (min-width: $breakpoint) {
            max-width: 600px;
            width: 60%;
            bottom: 0px;
            right: 10%;
        }
        .padding {
            padding: 30px;
            @media (min-width: $breakpoint) { padding: 60px; }
        }
        .pagination {
            display: flex;
            align-items: flex-end;
            margin: 0px 0px 20px 0px;
            font-weight: bold;
            @media (min-width: $breakpoint) { margin: 0px 0px 40px 0px; }
            .index {
                font-size: 36px;
                line-height: 30px;
                color: white;
                margin: 0px 10px 0px 0px;
            }
            .count {
                font-size: 16px;
                line-height: 12px;
                color: rgb(155, 155, 155);
                margin: 0px 20px 0px 0px;
            }
            .dots {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                .dot {
                width: 10px;
                height: 10px;
                color: white;
                font-size: 20px;
                margin: 0px 20px 0px 0px;
                &:hover { color: AB8D65; }
                }
            }
        }
        .label {
            line-height: 30px;
            margin: 0px 0px 20px 0px;
            color: #CFAA7A;
            h1 {font-size: 32px; }
            @media (min-width: $breakpoint) { margin: 0px 0px 40px 0px; }
        }
        .summary {
            line-height: 14px;
            line-height: 1.6em;
            margin: 0px 0px 20px 0px;
            color: #b9b9b9;
            letter-spacing: 3px;
            @media (min-width: $breakpoint) { margin: 0px 0px 40px 0px; }
        }
        .route {
            display: flex;
            align-items: center;
            color: #CFAA7A;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 12px;
            svg {
                margin: 0px 0px 0px 20px;
                width: 20px;
                height: 20px;
            }
        }
    }
}