
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px #0000002e;
    color: black;
    background: white;
    cursor: pointer;
    .cover { 
        height: 220px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        //background-size: cover !important;
        background-size: 50% !important;
    }
    .label {
        flex-grow: 1;
        padding: 0px 20px 0px 20px;
        display: flex;
        align-items: center;
        display: none;
    }
    .summary {
        font-size: 14px;
        padding: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0px 0px 20px 0px;
    }
    .more {
        display: flex;
        align-items: center;
        padding: 0px 20px 20px 20px;
        font-size: 10px;
        text-transform: uppercase !important;
        letter-spacing: 1px;
        font-weight: bold;
        svg {
            width: 12px;
            height: 12px;
            margin: 0px 0px 0px 10px;
        }
    }
}