
@import "./variables";

.cover {
    width: calc(100%);
    height: 100vh;
    min-height: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    background: black;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)), url("/images/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 40px 40px 40px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    @media (min-width: $breakpoint) {
        padding: 0px 20% 0 20%;
        align-items: flex-start;
        min-height: 700px;
        margin: 0px 0px 0px 0px;
        justify-content: flex-start;
        background-position: 80% center;
    }
    .wrapper {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 60px;
        max-height: 900px;

        @media (max-width: $breakpoint) {
            justify-content: flex-start;
            max-height: none;
            padding-bottom: 0;
            padding-top: 200px;
        }
    }
    .title h1 {
        font-size: 40px;
        font-weight: 900;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 20px 0px;
        text-align: left;
        line-height: 1;
        @media (min-width: $breakpoint) { font-size: 70px; }
    }
    .sub h2 {
        font-size: 16px;
        font-weight: 600;
        text-align: left; 
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 20px 0px;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
        @media (min-width: $breakpoint) { font-size: 24px; }
    }
    .para {
        font-size: 12px;
        color: white;
        font-weight: 400;
        text-align: left;
        @media (min-width: $breakpoint) { font-size: 16px; }
    }
}