
@import "./variables";

.cover {
    width: calc(100%);
    height: 100vh;
    min-height: 780px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    background: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("/images/space.jpg");
    background-position: 55% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 40px 40px 40px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    z-index: 1;
    @media (min-width: $breakpoint) {
        padding: 0px 17% 0 17%;
        align-items: flex-start;
        min-height: 900px;
        margin: 0px 0px 0px 0px;
        justify-content: flex-start;
        background-position: left top;
        z-index: 2;
    }
    .wrapper {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 100px;
        max-height: 1200px;

        @media (max-width: $breakpoint) {
            justify-content: flex-start;
            max-height: none;
            padding-bottom: 0;
            padding-top: 230px;
        }
    }
    .title h1 {
        font-size: 44px;
        line-height: 52px;
        font-weight: 900;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 25px 0px;
        text-align: left;
        @media (min-width: $breakpoint) { font-size: 58px; line-height: 70px; margin: 0px 0px 15px 0px;  }
    }
    .sub h2 {
        font-size: 18px;
        font-weight: 600;
        text-align: left; 
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 70px 0px;
        letter-spacing: 2px;
        text-align: left;
        max-width: 250px;
        line-height: 30px;
        text-transform: uppercase;
        @media (min-width: $breakpoint) { font-size: 24px; margin: 10px 0px 40px 0px; max-width: none;}
    }
    .para {
        font-size: 14px;
        line-height: 24px;
        color: white;
        font-weight: 400;
        text-align: left;
        max-width: 700px;
        @media (min-width: $breakpoint) { font-size: 16px; line-height: 28px; }
    }
}