
@import "./variables";

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding-top: 120px;
    @media (min-width: $breakpoint) { padding-top: 286px; }

    .circles {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;
        margin: 0 0px 40px 0px;
        @media (min-width: $breakpoint) { height: 1300px; margin: 20px 0px 200px 0px; }
        .circle {
            width: 100%;
            height: 0px;
            padding: 50% 0px 50% 0px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            margin: 0px 0px 20px 0px;
            @media (max-width: $breakpoint) { margin: 0px 0px -40px 0px; }
            @media (min-width: $breakpoint) {
                height: 300px;
                width: 300px;
                padding: 0px;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                padding: 20px 40px 30px 40px;
                text-align: center;
                .index {
                    color: white;
                    font-size: 18px;
                    font-weight: 900;
                }
                .header {
                    color: white;
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 10px;
                }
                .timeline {
                    color: white;
                    font-size: 13px;
                    font-weight: bold;
                    @media (max-width: $breakpoint) {
                        font-size: 13px;
                    }
                }
                .divider {
                    min-height: 1px;
                    width: 60px;
                    background: white;
                    margin: 10px auto 20px;
                }
                .desc {
                    color: rgb(255, 255, 255);
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 18px;
                    @media (max-width: $breakpoint) {
                        font-size: 12px;
                    }
                }
                .link {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    color: white;
                    font-weight: bold;
                    margin: 15px auto 0;
                    width: 220px;
                    cursor: pointer;
                    .label {
                        display: flex;
                        flex-direction: column;
                        line-height: 20px;
                        font-size: 12px;
                        letter-spacing: 2px;
                        text-transform: uppercase;

                        svg {
                            width: 16px;
                            height: 16px;
                            position: relative;
                            top: 2px;
                        }
                    }
                    .icon {
                        margin: 5px 0px -2px 0px;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
        .image img {
            position: absolute;
            top: 0px;
        }
        .tree {
            z-index: 1;
            @media (min-width: $breakpoint) {
                height: 600px;
                width: 600px;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
        .register {
            z-index: 2;
            background: #2e5b66;
            @media (min-width: $breakpoint) {
                height: 400px;
                width: 400px;
                position: absolute;
                top: 200px;
                left: 478px;
            }
        }
        .submit {
            z-index: 3;
            background: #327f89;
            height: 450px;
            width: 450px;
            @media (min-width: $breakpoint) {
                height: 400px;
                width: 400px;
                position: absolute;
                top: 400px;
                left: 132px;
            }
        }
        .final {
            background: #1d8676;
            z-index: 4;
            @media (min-width: $breakpoint) {
                height: 400px;
                width: 400px;
                position: absolute;
                top: 600px;
                left: 478px;
            }
        }
        .adjudicating {
            background: #2e5b66;
            z-index: 3;
            .index, .header { color: white !important; } 
            @media (min-width: $breakpoint) {
                height: 330px;
                width: 330px;
                position: absolute;
                top: 740px;
                left: -28px;
            }
        }
        .ceremony {
            background: #327f89;
            z-index: 4;
            height: 410px;
            width: 410px;
            @media (min-width: $breakpoint) {
                height: 400px;
                width: 400px;
                position: absolute;
                top: 1060px;
                left: 20px;
                z-index: 2;
            }
        }
        .educator {
            background: #1d8676;
            z-index: 4;
            height: 370px;
            width: 370px;
            .index, .header { color: white !important; }
            @media (min-width: $breakpoint) {
                height: 370px;
                width: 370px;
                position: absolute;
                top: 1230px;
                left: 383px;
                z-index: 2;
            }
        }
        .deer {
            z-index: 1;
            @media (min-width: $breakpoint) {
                height: 700px;
                width: 700px;
                position: absolute;
                top: 620px;
                left: 120px;
            }
        }
    }

    .panel {
        padding: 40px;
    }
    
    .ready {
        width: 100%;
        padding: 40px;
        @media (min-width: $breakpoint) {
            max-width: 900px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .header {
            display: flex;
            flex-direction: column;
            color: #302F3D;
            font-size: 32px;
            line-height: 40px;
            font-weight: 900;
            margin: 0px 0px 20px 0px;
            width: 220px;
        }
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 70px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            border-bottom-left-radius: 6px;
            font-size: 14px;
            background-color: rgb(10, 183, 188);
            cursor: pointer;
            .label {
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                font-weight: 900;
            }
            .icon {
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .line {
            margin: 0px 0px 0px 0px;
        }
    }
    
    .become {
        display: flex;
        flex-direction: column;
        padding: 40px;
        @media (max-width: $breakpoint) {
           margin-bottom: 30px;
        }

        .header {
            font-size: 32px;
            line-height: 40px;
            font-weight: 900;
            color: black;
            margin: 0px 0px 30px 0px;
        }
        .desc {
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            color: black;
        }
    }
    
    .bass {

        display: flex;
        flex-direction: column;
        padding: 40px;
        position: relative;
        @media (max-width: $breakpoint) {
            margin: -40px 0px 40px 0px;
        }
        @media (min-width: $breakpoint) {
            flex-direction: row;
            height: 500px;
        }
        .details {
            display: flex;
            flex-direction: column;
            margin: 0px 0px 40px 0px;
            .header {
                font-size: 32px;
                color: black;
                font-weight: 900;
                margin: 0px 0px 20px 0px
            }
            .desc {
                font-size: 14px;
                color: black;
                line-height: 30px;
                font-weight: 400;
                margin: 0px 0px 20px 0px
            }
        }
        .clues {
            min-width: 300px;
            height: 300px;
            position: relative;

            @media (max-width: $breakpoint) {
                width: 290px;
                min-width: 0;
                margin: 0 auto;
            }
            .clue {
                background: #ccc;
                color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 18px;
                line-height: 20px;
                position: absolute;
                font-weight: 900;
            }
            .father {
                width: 150px;
                height: 150px;
                top: 0px;
                left: 0px;
                @media (min-width: $breakpoint) {
                    top: 0px;
                    left: 160px;
                }
            }
            .mother {
                width: 120px;
                height: 120px;
                top: 140px;
                left: 100px;
                font-size: 14px;
                line-height: 16px;
                @media (min-width: $breakpoint) {
                    top: 140px;
                    left: 100px;
                }
            }
            .baby {
                width: 80px;
                height: 80px;
                top: 50px;
                left: 160px;
                font-size: 10px;
                line-height: 12px;
                @media (min-width: $breakpoint) {
                    top: 50px;
                    left: 50px;
                }  
            }
        }
        .meet {
            @media (min-width: $breakpoint) {
                position: absolute;
                top: 280px;
                left: 50%;
            }
        }
    }

}