
.footer {
    padding: 30px 0px 30px 0px;
    background: whitesmoke;
    display: flex;
    .block {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 120px;
        .logo {
            width: 80px;
            height: 80px;
            margin: 0px 80px 0px 0px;
            img {
                width: 80px;
                height: 80px;
            }
        }
        .information {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0px 120px 0px 0px;
            .links {
                display: flex;
                align-items: center;
                width: 100%;
                margin: 0px 0px 20px 0px;
                .link {
                    flex-grow: 1;
                    font-size: 10px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: rgb(48, 48, 48);
                    &:hover {
                        cursor: pointer;
                        color: grey;
                    }
                }
                .socials {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    display: flex;
                    .social {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0px 0px 0px 10px;;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
            .rights {
                font-size: 10px;
                color: rgb(114, 90, 24);
            }
        }
    }
}
