
@import "./variables";

.footer {
    position: relative;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px;
    .block {
        max-width: 820px;
        flex-grow: 1;
        display: flex;
        @media (max-width: $breakpoint) { margin: 40px 40px 40px 40px; }
        .logo {
            min-width: 60px;
            width: 60px;
            height: 60px;
            margin: 0px 20px 0px 0px;
            img {
                width: 60px;
                height: 60px;
            }
            @media (min-width: $breakpoint) {
                min-width: 80px;
                width: 80px;
                height: 80px;
                margin: 0px 40px 0px 0px;
                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .information {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @media (min-width: $breakpoint) {

            }
            .links {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;
                margin: 0px 0px 10px 0px;
                @media (min-width: $breakpoint) {
                    flex-direction: row;
                    align-items: center;
                }
                .routes {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    .route {
                        font-size: 10px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        color: rgb(48, 48, 48);
                        margin: 0px 0px 10px 0px;
                        &:hover {
                            cursor: pointer;
                            color: grey;
                        }
                    }
                    @media (min-width: $breakpoint) { flex-direction: row; }
                }
                .socials {
                    display: flex;
                    align-items: center;
                    display: flex;
                    .social {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid black;
                        color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0px 10px 0px 0px;;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
            .rights {
                font-size: 10px;
                color: $gold;
            }
        }
    }
}
