
@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Black.ttf") format('truetype');
    font-weight: 900;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Lato", cursive !important;
    line-height: 1.6;
    font-size: 16px;
    background: white;
    /*-webkit-touch-callout: none; !* iOS Safari *!*/
    /*-webkit-user-select: none; !* Safari *!*/
    /*-khtml-user-select: none; !* Konqueror HTML *!*/
    /*-moz-user-select: none; !* Old versions of Firefox *!*/
    /*-ms-user-select: none; !* Internet Explorer/Edge *!*/
    /*user-select: none;*/
    overscroll-behavior: contain;
    letter-spacing: 1.5px;
    width: 100%;
    font-weight: 300;
    overflow-x: hidden;
}

.locked {
    overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*:focus { outline: 0 !important; }

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  display: block;
}

h1 {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
