
@tailwind base;
@tailwind components;

html, body {
    padding: 0;
    margin: 0;
    font-family: "lato", cursive;
    line-height: 1.6;
    font-size: 16px;
    background: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    overscroll-behavior: contain;
    letter-spacing: 1px;
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*:focus { outline: 0 !important; }

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  display: block;
}

@tailwind utilities;
