
@import "./variables";

.header {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    @media (max-width: $breakpoint) {
        position: fixed;
    }
    .wrapper {
        width: calc(100%);
        display: flex;
        align-items: center;
        background: white;
        margin: 0px auto 0 auto;
        z-index: 3;
        @media (min-width: $breakpoint) {
            height: calc(120px);
            padding: 0px 80px;
        }
        .logo {
            width: 60px;
            height: 50px;
            margin: 20px 0px 0px 30px;
            overflow: visible;
            z-index: 3;
            @media (min-width: $breakpoint) {
                width: 100px;
                height: 60px;
                margin: 20px 0px 0px 30px;
                overflow: visible;
                z-index: 3;
            }
        }
        .nav {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0px 0px 0px 0px;
            z-index: 4;
            height: 60px;
            .dropdown {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: black;
                svg {
                    width: 20px;
                    height: 20px;
                    margin: 0px 0px -5px 10px;
                }
            }
            .link, .dropdown {
                text-transform: capitalize;
                margin: 0px 0px 0px 40px;
                font-size: 20px;
                color: rgb(43, 43, 43);
                font-family: "lato", cursive;
                line-height: 1.6;
                @media (max-width: $breakpoint) { display: none; }
                &:hover {
                    cursor: pointer;
                    color: $gold;
                    background-color: transparent;
                }
            }
            .icon {
                width: 50px;
                height: 50px;
                margin: 20px 20px 0px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: grey;
                border-radius: 50%;
                z-index: 4;
                svg {
                    width: 20px;
                    height: 20px;
                }
                @media (min-width: $breakpoint) { display: none; }
            }
        }
    }
    .curve {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;
        .image {
            width: 100%;
            background-position: inherit;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            z-index: 2;
            @media (min-width: $breakpoint) {
                height: 260px;
                background-position: center;
            }
        }
    }
}