
@import "./variables";

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    @media (min-width: $breakpoint) {
        height: 100px;
    }
    .wrapper {
        max-width: 900px;
        width: 100%;
        display: flex;
        align-items: center;
        background: white;
        .logo {
            width: 40px;
            height: 40px;
            margin: 20px;
            @media (min-width: $breakpoint) {
                width: 60px;
                height: 60px;
                margin: 20px 20px 20px 20px;
            }
        }
        .nav {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0px 0px 0px 0px;
            .link {
                margin: 0px 0px 0px 40px;
                font-size: 20px;
                color: rgb(43, 43, 43);
                @media (max-width: $breakpoint) { display: none; }
                &:hover {
                    cursor: pointer;
                    color: $gold;
                }
            }
            .icon {
                width: 50px;
                height: 50px;
                margin: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: grey;
                border-radius: 50%;
                svg {
                    width: 20px;
                    height: 20px;
                }
                @media (min-width: $breakpoint) { display: none; }
            }
        }
    }
}