
@import "./variables";

.home {

    .distribute {
        width: calc(100%);
        height: calc(100vh - 80px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        color: white;
        background: black;
        background-image: url("/images/space.jpg");
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75)), url("/images/space.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px 40px 40px 40px;
        margin: 0px 0px 20px 0px;
        @media (min-width: $breakpoint) {
            height: calc(100vh - 120px);
            padding: 0px 20% 80px 20%;
            align-items: flex-start;
            margin: 0px 0px 80px 0px;
        }
        .title h1 {
            font-size: 50px;
            font-weight: bold;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 20px 0px;
            text-align: left;
            @media (min-width: $breakpoint) { font-size: 80px; }
        }
        .sub h2 {
            font-size: 26px;
            font-weight: bold;
            text-align: left; 
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 20px 0px;
            text-align: left;
            @media (min-width: $breakpoint) { font-size: 32px; }
        }
        .para {
            font-size: 14px;
            font-family: lato;
            color: white;
            text-align: left;
            @media (min-width: $breakpoint) { font-size: 20px; }
        }
    }

    .board {

        position: relative;
        height: 80vh;
        margin: 20px 0px 40px 20px;
        @media (min-width: $breakpoint) { margin: 40px 20% 80px 10%; }

        .banner {
            position: absolute;
            width: 100%;
            height: 80%;
            background-image: url("/images/space.jpg");
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .block {
            width: calc(100% - 20px);
            position: absolute;
            bottom: -10px;
            right: 0px;
            @media (min-width: $breakpoint) {
                width: 50%;
                right: -15%;
            }
            .padding {
                padding: 40px;
                @media (min-width: $breakpoint) {
                    padding: 80px;
                }
                .pagination {
                    display: flex;
                    align-items: flex-end;
                    font-family: "lato";
                    margin: 0px 0px 20px 0px;
                    .index {
                        font-size: 30px;
                        font-weight: bold;
                        line-height: 30px;
                        margin: 0px 5px 0px 0px;
                    }
                    .count {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 16px;
                        color: rgba(255, 255, 255, 0.404);
                    }
                    .dots {
                        display: flex;
                        flex-grow: 1;
                        justify-content: space-evenly;
                        .dot {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
                .label {
                    margin: 0px 0px 20px 0px;
                    h1 {
                        font-size: 30px;
                        color: #CEAA7A;
                        font-weight: bold;
                        text-align: left;
                        padding: 0px;
                    }
                }
                .summary {
                    color: white;
                    margin: 0px 0px 20px 0px;
                }
                .route {
                    display: flex;
                    align-items: center;
                    color: #CEAA7A;
                    svg {
                        width: 16px; height: 16px;
                        margin: 0px 0px -2px 10px;
                    }
                }
            }
        }
        
    }

}