
@import "./variables";

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: whitesmoke url("/images/nasa-Q1p7bh3SHj8-unsplash.webp") no-repeat center;
    background-size: cover;
    @media (max-width: $breakpoint) {
        h1 {
            font-size: 54px;
            padding: 0px 20px;
            text-align: center;
        }
        h2 {
            font-size: 54px;
            padding: 0px 20px;
            text-align: center;
        }
    }
}

.homeNav{
    margin-top: 100px;
    background: red;
    .homeNavMenu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999999999999;
        background: green;
    }
}
