
@import "./variables";

.container {
    width: 100%;
    color: grey;
    background: #ECECEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 140px;
    @media (min-width: $breakpoint) {
        margin-top: -50px;
        padding-top: 360px;
    }
    .top {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 40px 0px;
        max-width: 900px;
        margin: 0px 40px 40px 40px;
        @media (min-width: $breakpoint) { flex-direction: row; }
        .header {
            display: flex;
            .label {
                width: 100%;
                @media (min-width: $breakpoint) { width: 260px; }
                h1 {
                    font-size: 40px;
                    line-height: 50px;
                    font-weight: bold;
                    color: #064C40;
                    padding: 0px;
                    text-align: left;
                }
            }
            .line {
                width: 40%;
                width: 140px;
                height: 1px;
                background: #C7BDA5;
                margin: 40px 0px 0px 0px;
            }
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 40px 0px;
            @media (max-width: $breakpoint) { flex-direction: column; }
            @media (min-width: $breakpoint) { width: 50%; }
        }
        .summary {
            color: #1C192B;
            @media (min-width: $breakpoint) {
                width: calc(50% - 30px);
                padding: 20px 0px 0px 0px;
            }
        }
    }
    .process {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        max-width: 900px;
        margin: 0px 40px 0px 40px;
        @media (min-width: $breakpoint) { flex-direction: row-reverse; }
        .image {
            position: relative;
            margin: 0px 0px 40px 0px;
            @media (max-width: $breakpoint) {
                img {
                    min-width: calc(100% + 40px);
                }
            }
            @media (min-width: $breakpoint) {
                width: 50%;
            }
        }
        .points {
            display: flex;
            flex-direction: column;
            @media (min-width: $breakpoint) {
                width: 50%;
                padding: 0px 120px 0px 0px;
                margin: 80px 0px 0px 0px;
            }
            .point {
                display: flex;
                position: relative;
                .block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .circle {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #e4ded3;
                        border-radius: 50%;
                        .marker {
                            width: 0px;
                            height: 0px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            font-size: 14px;
                            letter-spacing: 1px;
                            color: #064C40;
                            font-weight: bold;
                            span {
                                width: 300px !important;
                                position: relative;
                                min-width: 300px;
                            }
                        }
                    }
                    .guide {
                        width: 100%;
                        flex-grow: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .line {
                            width: 1px;
                            background-image: linear-gradient(to bottom, #BEB29C, white);
                            height: 90%;
                        }
                    }
                }
                .text {
                    padding: 40px 20px 40px 20px;
                    font-size: 14px;
                }
            }
        }
    }
    .theme {
        font-size: 26px;
        max-width: 900px;
        width: calc(100% - 40px);
        margin: 60px 40px 40px 40px;
        color: #172d21;
        font-weight: bold;
        @media (max-width: $breakpoint) { align-self: flex-start; }
    }
    .carbon {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        position: relative;
        @media (min-width: $breakpoint) {
            flex-direction: row;
            max-width: 900px;
            width: 100%;
            margin: 0px 40px 60px 40px;
        }
        .details {
            background: #172d21;
            color: white;
            padding: 40px 40px 80px 40px;
            position: relative;
            @media (min-width: $breakpoint) {
                width: calc(50%);
                padding: 40px 40px 40px 40px;
            }
            .header {
                display: flex;
                align-items: flex-start;
                margin: 0px 0px 40px 0px;
                letter-spacing: 1px;
                svg {
                    width: 20px;
                    height: 20px;
                    margin: 0px 20px 0px 0px;
                    color: #CDAC76;
                }
                .text {
                    font-size: 30px;
                    font-weight: bold;
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    line-height: 30px;
                    margin: -10px 0px 0px 0px;
                }
            }
            .apply {
                font-size: 16px;
                letter-spacing: 2px;
                margin: 0px 0px 40px 0px;
                color: #CDAC76;
                text-transform: uppercase;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                span { width: 220px; }
                svg {
                    width: 20px;
                    height: 20px;
                    margin: 0px 0px 2px 0px;
                }
            }
            .eligible {
                font-size: 14px;
                color: #bdbdbd;
            }
            .wall {
                width: 100px;
                height: 100%;
                background: #172d21;
                top: 0px;
                right: -100px;
                position: absolute;
            }
        }
        .chimney {
            width: calc(100% - 40px);
            height: 300px;
            align-self: flex-end;
            z-index: 1;
            @media (max-width: $breakpoint) {margin: -40px 0px 0px 0px; }
            @media (min-width: $breakpoint) {
                width: calc(50%);
                min-height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

            }
            .image {
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-image: url("/images/incubator/road.jpeg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                @media (min-width: $breakpoint) {
                    width: 100%;
                    height: 140%;
                    position: relative;
                    top: -80px;                }
            }
        }
    }
    .become {
        width: calc(100%);
        max-width: 900px;
        padding: 0px 40px 0px 40px;
        margin: 0px 0px 80px 0px;
        @media (min-width: $breakpoint) { margin: 0px 0px 120px 0px; }
        .header {
            width: 220px;
            font-size: 40px;
            line-height: 50px;
            color: #CFAA7E;
            margin: 0px 0px 40px 0px;
            font-weight: bold;
            @media (min-width: $breakpoint) {
                width: 320px;
            }
        }
        .text {
            color: black;
            font-size: 14px;
        }
    }
    .newsLetter{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 50px;
        .block{
            flex: 1;
            margin-left: 20vw;
            padding: 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-items: center;
            background: white;
            box-sizing: border-box;
            .label {
                font-size: 24px;
                font-weight: bold;
                color: black;
                margin: 0 20px 0 0;
                @media (min-width: $breakpoint) {
                    margin: 0 20px 0 0;
                    text-align: center;
                }
            }
            .newsLetterForm{
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-items: center;
                .input{
                    flex: 1;
                    height: 50px;
                    border: 1px solid rgb(122, 122, 122);
                    text-align: center;
                    margin: 0px 0px 20px 0px;
                    @media (min-width: $breakpoint) {
                        width: 260px;
                        margin: 0px 10px 0px 0px;
                    }
                    input {
                        text-align: center;
                        font-size: 12px;
                    }
                }
                .button{
                    width: 100%;
                    height: 50px;
                    background: #CFAA7A;;
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    @media (min-width: $breakpoint) {
                        width: 100px;
                    }
                }
            }
        }
    }
}

