
@import "./variables";

.latest {
    width: 100%;
    background: whitesmoke;
    @media (min-width: $breakpoint) {}
    .control {
        width: 60%;
        background: #CEAA7A;
        position: relative;
        height: 200px;
        margin: 40px 0px 0px 0px;
        @media (min-width: $breakpoint) {
            width: 30%;
            float: left;
            height: 60vh;
            margin: 80px 0px 0px 0px;
        }
        .centered {
            padding: 20px 0px 0px 30px;
            flex-grow: 1;
            @media (min-width: $breakpoint) { padding: 50px 0px 0px 80px; }
            .spacer {
                margin: 10px;
                outline: none;
                @media (max-width: $breakpoint) { display: none; }
            }
            .icon {
                width: 50px;
                height: 50px;
                border-radius: 3px;
                border: 1px solid #16172C;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #16172C;
                font-size: 12px;
                outline: none;
            }
            .label {
                font-size: 24px;
                line-height: 24px;
                color: white;
                font-weight: bold;
                margin: 0px 0px 20px 0px;
            }
            .all {
                font-size: 16px;
                display: flex;
                align-items: center;
                color: #16172C;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .wall {
            height: 100%;
            width: 100px;
            position: absolute;
            right: -100px;
            top: 0px;
            background: #CFAA7A;
            @media (max-width: $breakpoint) { display: none; }
        }
    }
    .carousel {
        display: block;
        @media (max-width: $breakpoint) {}
        @media (min-width: $breakpoint) {}
        .wrapper {

        }
    }
    .block {

    }
}