
@import "./variables";

.container {
    width: 100vw;
    padding: 100px 130px 80px;
    background: whitesmoke;
    flex-grow: 1;
    @media (max-width: $breakpoint) {
        padding: 0px;
    }
    .inner {
        max-width: 1014px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @media (min-width: $breakpoint) { height: 460px; }
        @media (max-width: $breakpoint) {
            flex-direction: column;
        }
        .control {
            width: 200px;
            height: 200px;
            background: #CEAA7A;
            position: relative;
            flex-shrink: 0;
            @media (max-width: $breakpoint) {
                height: 200px;
                width: 100% !important;
                margin: 40px 0px 0px 0px;
            }
            @media (min-width: $breakpoint) {
                height: 460px;
                float: left;
            }
            .centered {
                padding: 10px 0px 0px 40px;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 1;
                height: 100%;
                @media (min-width: $breakpoint) { padding: 50px 0px 50px 60px; }
                @media (max-width: $breakpoint) {
                    padding: 20px;
                }
                .spacer {
                    margin: 0px 0px 20px 0px;
                    outline: none;
                    @media (max-width: $breakpoint) { display: none; }
                }
                .button {
                    width: 50px;
                    height: 50px;
                    border: 1px solid #16172C;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #16172C;
                    font-size: 12px;
                    outline: none;
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
                .label {
                    font-size: 24px;
                    line-height: 24px;
                    color: white;
                    font-weight: 900;
                    margin: 20px 0px 30px 0px;
                    @media (max-width: $breakpoint) {
                        font-size: 20px;
                        line-height: 20px;
                        margin: 20px 0px 20px 0px;
                    }
                }
                .all {
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    color: #16172C;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    .news {
                        margin: 0px 10px 0px 0px;
                        @media (max-width: $breakpoint) { display: none; }
                    }
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }

                // webinar
                .webinar {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    background-color: white;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100vw;
                    max-width: 900px;
                    justify-content: center;

                    @media (max-width: 1100px) {
                        max-width: 800px;
                    }

                    @media (max-width: 850px) {
                        max-width: 550px;
                    }

                    @media (max-width: $breakpoint) {
                        width: 100%;
                    }

                    .announcementMobile {
                        font-weight: 900;
                        margin: 0 0 25px;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 1px;
                        max-width: 420px;
                        text-align: center;
                        display: none;

                        @media (max-width: $breakpoint) {
                            display: block;
                        }
                    }

                    .announcementDesktop {
                        font-weight: 900;
                        margin: 0 0 25px;
                        font-size: 18px;
                        line-height: 24px;
                        max-width: 420px;
                        text-align: center;

                        @media (max-width: $breakpoint) {
                            display: none;
                        }
                    }

                    .logo {
                        background-image: url("/images/earthPrizeLogo.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 80px;
                        width: 300px;
                        margin: 0 0 25px;

                        @media (max-width: $breakpoint) {
                            width: 170px;
                        }
                    }

                    > button {
                        height: 60px;
                        border-radius: 12px;
                        padding: 0 30px;
                        background-color: rgb(206, 170, 122);
                        color: white;
                        font-weight: bold;
                        font-size: 14px;
                        border: 0;
                        cursor: pointer;

                        @media (max-width: $breakpoint) {
                            font-size: 13px;
                            border-radius: 6px;
                            height: 100px;
                            padding: 0 8px;
                        }
                    }
                }
            }
            .wall {
                height: 100%;
                position: absolute;
                background: #CFAA7A;
                @media (max-width: $breakpoint) { display: none; }
            }
            .wallA {
                width: 500px;
                position: absolute;
                right: -200px;
                top: 0px;
            }
            .wallB {
                height: 100%;
                width: 2500px;
                position: absolute;
                left: -2500px;
                top: 0px;
                display: none;
            }
        }
        .carousel {
            position: relative;
            flex-grow: 1;
            @media (max-width: $breakpoint) {
                top: -60px;
                left: 40px;
            }
            @media (min-width: $breakpoint) {
                float: left;
                margin: 50px 0px;
            }
            li {
              max-width: 270px;

                @media (max-width: $breakpoint) {
                    max-width: none;
                }
            }
            .carcon { overflow: visible; }
            .carmo { min-width: 105%; ul{ width: 100% } }
            .slider { margin: 0px 0px 0px 0px; }
            .wrapper { margin: 0px 0px 0px 0px; height: 100%; margin-right: 20px; }
        }
    }
}