

.container {
  width: 100%;
}

.header {
  width: 100%;
  .navigation {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 30px;
    .logo {
      width: 150px;
      height: 150px;
      position: absolute;
      left: 50px;
      top: 50px;
      z-index: 1;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 24px;
      letter-spacing: 2px;
      flex-grow: 1;
      .mySpan { margin: 0px 20px 0px 0px; }
      .searchIcon svg {
        width: 20px;
        height: 20px;
        margin: 0px 0px 0px 20px;
      }
    }
  }
}

.contain {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  .earth {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 20%, black), url("/images/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper {
      flex-grow: 1;
      padding: 0px 28% 100px 20%;
      color: white;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
}

.latest {
  width: 100%;
  height: 600px;
  display: flex;
  background: whitesmoke;
  margin: 0px 0px 50px 0px;
  .control {
    background: #CFAA7A;
    display: flex;
    flex-direction: column;
    width: 40%;
    z-index: 2;
  }
  .docker {
    width: 60%;
    height: 100%;
    display: flex;
    position: relative;
    .wall {
      background: #CFAA7A;
      width: 120px;
      height: 100%;
      position: absolute;
    }
    .car {
      display: flex;
      align-items: center;
      z-index: 1;
    }
  }
}
