
@import "./variables";

.container {
    width: 100%;
    height: 1160px;
    position: relative;
    @media (min-width: $breakpoint) {
        height: 740px;
        margin: -80px 0px 0px 0px;
    }
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        .padding {
            height: 100%;
            width: 100%;
            padding: 10px 20px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .header {
                font-size: 18px;
                font-weight: 900;
                text-align: center;
                line-height: 22px;
                color: $gold;
                @media (min-width: $breakpoint) { font-size: 18px; }
            }
            .divider {
                height: 1px;
                width: 50px;
                background: #ceaa7a85;
                margin: 10px auto 15px auto;
            }
            .desc {
                font-size: 10px;
                text-align: center;
                line-height: 18px;
                font-weight: 400;
                color: white;
                @media (min-width: $breakpoint) { font-size: 10px; }
            }
        }
    }
    .giraffe {
        width: 320px;
        height: 320px;
        margin: 0px 0px 0px 0px;
        background-image: url("/images/boy.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width: $breakpoint) {
            margin: 0px 0px 0px 20px;
            width: 360px;
            height: 360px;
        }
    }
    .boabab {
        width: 420px;
        height: 420px;
        position: absolute;
        top: 340px;
        left: 20px;
        background-image: url("/images/wood.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width: $breakpoint) {
            width: 480px;
            height: 480px;
            top: 180px;
            left: 360px;
        }
    }
    .when {
        width: 190px;
        height: 190px;
        background: #17182D;
        position: absolute;
        top: 180px;
        left: 185px;
        @media (min-width: $breakpoint) {
            width: 220px;
            height: 220px;
            top: 185px;
            left: 295px;
        }
        .padding { padding: 20px 20px 30px 20px; }
    }
    .how {
        width: 170px;
        height: 170px;
        background: #064D3F;
        position: absolute;
        top: 290px;
        left: 40px;
        @media (min-width: $breakpoint) {
            width: 190px;
            height: 190px;
            top: 325px;
            left: 148px;
        }
    }
    .role {
        width: 300px;
        height: 300px;
        background: #02314F;
        position: absolute;
        top: 600px;
        left: 10px;
        @media (min-width: $breakpoint) {
            width: 300px;
            height: 300px;
            top: 400px;
            left: 300px;
        }
        .padding { padding: 20px 20px 40px 20px; }
    }
    .profile {
        width: 260px;
        height: 260px;
        background: #1A3326;
        position: absolute;
        top: 860px;
        left: 90px;
        @media (min-width: $breakpoint) {
            width: 270px;
            height: 270px;
            top: 478px;
            left: 592px;
        }
    }
}