
@import "./variables";

.container {
    width: 100%;
    height: 1160px;
    position: relative;
    @media (min-width: $breakpoint) {
        height: 740px;
        margin: -80px 0px 0px 0px;
    }
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        .padding {
            height: 100%;
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .header {
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                color: $gold;
                @media (min-width: $breakpoint) { font-size: 14px; }
            }
            .divider {
                height: 1px;
                width: 50px;
                background: #ceaa7a85;
                margin: 10px auto 20px auto;
            }
            .desc {
                font-size: 10px;
                text-align: center;
                color: rgba(255, 255, 255, 0.6);
                @media (min-width: $breakpoint) { font-size: 10px; }
            }
        }
    }
    .giraffe {
        width: 320px;
        height: 320px;
        margin: 0px 0px 0px 20px;
        @media (min-width: $breakpoint) {
            width: 360px;
            height: 360px;
        }
    }
    .boabab {
        width: 420px;
        height: 420px;
        position: absolute;
        top: 340px;
        left: 20px;
        @media (min-width: $breakpoint) {
            width: 480px;
            height: 480px;
            top: 180px;
            left: 360px;
        }
    }
    .when {
        width: 180px;
        height: 180px;
        background: #17182D;
        position: absolute;
        top: 180px;
        left: 170px;
        @media (min-width: $breakpoint) {
            width: 200px;
            height: 200px;
            top: 200px;
            left: 300px;
        }
        .padding { padding: 20px 20px 30px 20px; }
    }
    .how {
        width: 160px;
        height: 160px;
        background: #064D3F;
        position: absolute;
        top: 290px;
        left: 40px;
        @media (min-width: $breakpoint) {
            width: 280px;
            height: 280px;
            top: 396px;
            left: 310px;
        }
    }
    .role {
        width: 280px;
        height: 280px;
        background: #02314F;
        position: absolute;
        top: 620px;
        left: 20px;
        @media (min-width: $breakpoint) {
            width: 300px;
            height: 300px;
            top: 400px;
            left: 300px;
        }
        .padding { padding: 20px 20px 40px 20px; }
    }
    .profile {
        width: 260px;
        height: 260px;
        background: #1A3326;
        position: absolute;
        top: 860px;
        left: 90px;
        @media (min-width: $breakpoint) {
            width: 260px;
            height: 260px;
            top: 478px;
            left: 596px;
        }
    }
}