
@import "./variables";

.container {
    max-width: 900px;
    width: 100%;
    @media (min-width: $breakpoint) {}
    .spacing {
        flex-grow: 1;
        @media (min-width: $breakpoint) {
            display: flex;
            flex-wrap: wrap;
            padding: 40px 40px 40px 40px;
        }
        .title {
            font-size: 40px;
            font-weight: 900;
            line-height: 50px;
            @media (min-width: $breakpoint) {
                width: 100%;
                margin: 0px 0px 40px 0px;
            }
            @media (max-width: $breakpoint) {
                text-align: center;
                line-height: 44px;
                margin: 40px 40px 60px 40px;
            }
            .capper {
                @media (min-width: $breakpoint) { width: 400px; }
            }
        }
        .avatars {
            display: flex;
            @media (min-width: $breakpoint) {
                width: 15%;
                flex-direction: column;
                justify-content: center;
                margin: 0px 0px 0px 0px;
            }
            @media (max-width: $breakpoint) {
                flex-direction: column;
            }
            .avatar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media (max-width: $breakpoint) {
                    margin: 0 0 30px;
                }
                .button {
                    width: 80px;
                    height: 80px;
                    padding: 10px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    margin: 0px 0px 10px 0px;
                    img {
                        border-radius: 50%;
                        min-width: 60px;
                        min-height: 60px;
                        width: 60px;
                        height: 60px;
                    }

                    @media (max-width: $breakpoint) {
                        width: 120px;
                        height: 120px;
                        padding: 0;
                        margin-bottom: 20px;

                        img {
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
                .name {
                    color: #16172C;
                    font-size: 8px;
                    max-width: 80px;
                    text-align: center;
                    height: 30px;

                    @media (max-width: $breakpoint) {
                        font-size: 17px;
                        font-weight: 400;
                        max-width: none;
                    }
                }
                .true {
                    border: 2px solid $blue;
                    font-weight: bold;

                    @media (max-width: $breakpoint) { border: 0 }
                }
            }
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;

            .scroll {
                height: 100%;
                overflow: auto;
                padding-top: 150px;
                padding-bottom: 100px;
            }
        }
        .block {
            @media (min-width: $breakpoint) {
                display: flex;
                width: 80%;
            }
            @media (max-width: $breakpoint) {
                margin: 0 20px;
            }
            .details {
                position: relative;
                @media (min-width: $breakpoint) {
                    flex-grow: 1;
                    padding: 40px 80px 40px 40px;
                }
                @media (max-width: $breakpoint) {
                    padding: 80px 40px 40px 40px;
                }
                .close {
                    width: 60px;
                    height: 60px;
                    border-radius: 0;
                    border: 1px solid white;
                    position: absolute;
                    left: 0;
                    top: -80px;
                    color: white;
                    font-weight: 900;
                }
                .image {
                    @media (max-width: $breakpoint) {
                        position: absolute;
                        border-radius: 50%;
                        top: -80px;
                        right: 30px;
                        height: 150px;
                        width: 150px;

                        img {
                            border-radius: 50%;
                        }
                    }
                }
                .header {
                    font-size: 20px;
                    font-weight: 900;

                    @media (max-width: $breakpoint) {
                        color: white !important;
                    }
                }
                .position {
                    font-size: 14px;

                    @media (max-width: $breakpoint) {
                        color: white !important;
                        font-weight: 400;
                        margin-bottom: 30px;
                    }
                }
                .break {
                    height: 1px;
                    width: 100px;
                    background: rgba(255, 255, 255, 0.5);
                    margin: 10px 0px 10px 0px;
                }
                .paragraph { 
                    font-size: 14px;
                    margin: 0px 0px 20px 0px;
                }

                .buttons {
                    width: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    float: left;
                    margin: 0px 0px 0px 20px;
                    z-index: 1;

                    @media (max-width: $breakpoint) {
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        float: none;
                        width: 100%;
                        margin: 0;
                    }
                    .button {
                        width: 40px;
                        height: 40px;
                        border-radius: 3px;
                        border: 1px solid #ceaa7a7d;
                        @media (max-width: $breakpoint) {
                            width: 60px;
                            height: 60px;
                            border-radius: 0;
                            border: 1px solid white;

                            &:nth-child(1) {
                                margin-right: 30px;
                            }
                        }
                        svg {
                            width: 12px;
                            height: 12px;
                            color: #ceaa7a7d;

                            @media (max-width: $breakpoint) {
                                width: 14px;
                                height: 14px;
                                color: white;
                            }
                        }
                    }
                    @media (min-width: $breakpoint) { display: none; }
                }
            }
            .portrait {
                display: flex;
                position: relative;
                @media (min-width: $breakpoint) {
                    min-width: 200px;
                    width: 200px;
                    align-items: center;
                }
                .image {
                    flex-grow: 1;
                    z-index: 1;
                    @media (min-width: $breakpoint) {}
                }
                .blue {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 50%;
                    background: $blue;
                    @media (min-width: $breakpoint) {
                        width: 50%;
                        height: 100%;
                    }
                }
                .white {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    width: 100%;
                    height: 50%;
                    background: white;
                    @media (min-width: $breakpoint) {
                        top: 0px;
                        left: 50%;
                        width: 50%;
                        height: 100%;
                    }
                }
            }
        }
        .stripped {
            @media (min-width: $breakpoint) { display: none; }
        }
    }
}
