
@import "./variables";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;

    &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .scroll {
        height: 100%;
        overflow: auto;
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

.block {
    @media (min-width: $breakpoint) {
        display: flex;
        width: 80%;
    }
    @media (max-width: $breakpoint) {
        margin: 0 20px;
    }
    .details {
        background-color: $blue;
        position: relative;
        @media (min-width: $breakpoint) {
            flex-grow: 1;
            padding: 40px 80px 40px 40px;
        }
        @media (max-width: $breakpoint) {
            padding: 80px 40px 40px 40px;
        }
        .close {
            width: 60px;
            height: 60px;
            border-radius: 0;
            border: 1px solid white;
            position: absolute;
            left: 0;
            top: -80px;
            color: white;
            font-weight: 900;
        }
        .image {
            @media (max-width: $breakpoint) {
                position: absolute;
                border-radius: 50%;
                top: -80px;
                right: 30px;
                height: 150px;
                width: 150px;

                img {
                    border-radius: 50%;
                }
            }
        }
        .header {
            font-size: 20px;
            font-weight: 900;

            @media (max-width: $breakpoint) {
                color: white !important;
            }
        }
        .position {
            font-size: 14px;

            @media (max-width: $breakpoint) {
                color: white !important;
                font-weight: 400;
                margin-bottom: 30px;
            }
        }
        .break {
            height: 1px;
            width: 100px;
            background: rgba(255, 255, 255, 0.5);
            margin: 10px 0px 10px 0px;
        }
        .paragraph {
            font-size: 14px;
            margin: 0px 0px 20px 0px;
            color: white;
        }

        .buttons {
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            float: left;
            z-index: 1;

            @media (max-width: $breakpoint) {
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                float: none;
                width: 100%;
                margin: 50px 0px 0px 0px;
            }
            .button {
                width: 40px;
                height: 40px;
                border-radius: 3px;
                border: 1px solid #ceaa7a7d;
                @media (max-width: $breakpoint) {
                    width: 60px;
                    height: 60px;
                    border-radius: 0;
                    border: 1px solid white;

                    &:nth-child(1) {
                        margin-right: 30px;
                    }
                }
                svg {
                    width: 12px;
                    height: 12px;
                    color: #ceaa7a7d;

                    @media (max-width: $breakpoint) {
                        width: 14px;
                        height: 14px;
                        color: white;
                    }
                }
            }
            @media (min-width: $breakpoint) { display: none; }
        }
    }
    .portrait {
        display: flex;
        position: relative;
        @media (min-width: $breakpoint) {
            min-width: 200px;
            width: 200px;
            align-items: center;
        }
        .image {
            flex-grow: 1;
            z-index: 1;
            @media (min-width: $breakpoint) {}
        }
        .blue {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 50%;
            background: $blue;
            @media (min-width: $breakpoint) {
                width: 50%;
                height: 100%;
            }
        }
        .white {
            position: absolute;
            top: 50%;
            left: 0px;
            width: 100%;
            height: 50%;
            background: white;
            @media (min-width: $breakpoint) {
                top: 0px;
                left: 50%;
                width: 50%;
                height: 100%;
            }
        }
    }
}