@import "./variables";

.circles {
    max-width: 900px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    margin: 0px 0px 40px 0px;
    @media (min-width: $breakpoint) { height: 1300px; }
    .circle {
        width: 100%;
        height: 0px;
        padding: 50% 0px 50% 0px;
        background: lightblue;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin: 0px 0px 20px 0px;
        @media (max-width: $breakpoint) { margin: 0px 0px -20px 0px; }
        @media (min-width: $breakpoint) {
            height: 300px;
            width: 300px;
            padding: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            padding: 40px 40px 80px 40px;
            text-align: center;
            .index {
                color: $gold;
                font-size: 20px;
            }
            .header {
                color: $gold;
                font-size: 20px;
            }
            .timeline {
                color: rgba(255, 255, 255, 0.5);
                font-size: 12px;
            }
            .divider {
                min-height: 1px;
                width: 120px;
                margin: 10px 0px;
                background: white;
                margin: 10px auto;
            }
            .desc {
                color: rgb(255, 255, 255);
                font-size: 8px;
            }
        }
    }
}
.body {
    max-width: 900px;
    width: 100%;
    color: grey;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 100px;
    margin-right: 100px;
    

    .title {
      
        font-weight: bold;
        font-size: 40px;
        color: #17152B;
        
    }
    .line {
        width: 40%;
        width:80px;
        height: 1px;
        background: #C7BDA5;
        margin: 20px 0px 100px 0px;
        
        
    }

    .lineandcircle {

    }
    .opportunity {
        
        align-items: left;
        margin-left: 150px;
        margin-bottom: 100px;

        .opptitle {
            font-size: 25px;
            color: #17152B;
            margin-bottom: 35px;
        }
        .oppbody {
            font-size: 15px;
            color: black;
            margin-left: 60px;
            max-width: 500px;
        }

    }

    .discover {
        margin-left: 400px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
      

        .distitle {
            margin-left: auto;
            font-size: 25px;
            color: #094b25;
            margin-bottom: 35px;
           
        }
        .disbody {
           
            max-width: 500px;
            font-size: 15px;
            color: black;
            text-align: right;

            
        }
    }
    .boost {
        align-items: left;
        margin-left: 150px;
        margin-bottom: 50px;
        .boosttitle {
            font-size: 25px;
            color: #094b25;
            margin-bottom: 15px;
        }
        .boostbody {
            font-size: 15px;
            color: black;
            max-width: 500px;
            
        }
    }

    .expand {
        margin-left: 500px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        .expandtitle {
            margin-left: auto;
            font-size: 25px;
            color: #150e5f;
            margin-bottom: 15px;
        }
        .expandbody {
            
            font-size: 15px;
            color: black;
            text-align: right;
            max-width: 500px;
        }
    }
    .impact {
        align-items: left;
        margin-left: 150px;
        margin-bottom: 50px;
        .impacttitle {
            font-size: 25px;
            color: #17152B;
            margin-bottom: 15px;
        }
        .impactbody {
            font-size: 15px;
            color: black;
            max-width: 500px;
        }
    }

    
   
}