
@import "./variables";

.wrapper {
    background-color: white;
    width: 100%;
    padding: 0 70px;

    @media (max-width: $breakpoint) {
        margin-bottom: 0px;
        padding: 0;
    }
}

.container {
    position: relative;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 160px;
    @media (min-width: $breakpoint) { padding-top: 200px; }
    @media (max-width: $breakpoint) {
        padding: 160px 20px 0;
    }

    .text {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        margin: 20px auto 80px;
        letter-spacing: 1px;
        max-width: 750px;

        @media (max-width: $breakpoint) {
            padding: 0;
            margin: 0 0 80px;
        }
    }

    .seperator {
        height: 1px;
        width: 140px;
        background-color: #CEAA7A;
        margin: 30px auto 20px;
    }

    .seperatorLong {
        height: 1px;
        width: 400px;
        opacity: 0.2;
        background-color: black;
        margin: 30px auto 40px;

        @media (max-width: $breakpoint) {
            margin: 30px auto;
        }
    }

    .link {
        margin: 0 auto 140px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @media (max-width: $breakpoint) {
            margin: 0 auto 100px;
        }

        .label {
            text-transform: uppercase;
        }

        svg {
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }
    }

    .subtitle {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #CEAA7A;
        max-width: 450px;
        text-align: center;
        margin: 0 auto;

        @media (max-width: $breakpoint) {
            font-size: 16px;
        }
    }

    .title {
        text-align: center;
        color: $blue;
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 2px;

        @media (max-width: $breakpoint) {
            font-size: 34px;
        }
    }

    .logosWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 70px;
        width: 100%;
        margin-bottom: 120px;

        @media (max-width: $breakpoint) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            margin-bottom: 60px;
        }

        div {
            height: 120px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 20px;

            @media (max-width: $breakpoint) {
                height: 100px;
                margin-bottom: 40px;
            }
        }
    }
}

.subtitle {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #CEAA7A;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;

    @media (max-width: $breakpoint) {
        font-size: 16px;
    }
}

.subtitle2 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #CEAA7A;
    text-align: center;
    margin: 0 auto 80px;

    @media (max-width: $breakpoint) {
        margin-bottom: 40px;
    }
}

.map {
    width: 100%;
    max-width: 900px;
    height: 450px;
    margin-bottom: 50px;

    @media (max-width: $breakpoint) {
        height: 250px;
        width: calc(100% - 40px);
    }
}

.countries {
    width: 100%;
    max-width: 900px;
    overflow:hidden;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 50px 0 100px;

    > p {
        margin: 0 0 20px;
    }

    @media (max-width: $breakpoint) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }
}
