
@import "./variables";

.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    .cover {
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        .wrapper {
            height: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding: 120px 30px 10px 30px;
            color: white;
            @media (min-width: $breakpoint) {
                justify-content: flex-end;
                align-items: flex-start;
                padding: 0px 20% 10vh 20%;
            }
            .title {
                margin: 0px 0px 10px 0px;
                @media (min-width: $breakpoint) { margin: 0px 0px 40px 0px; }
                h1 {
                    font-size: 38px;
                    @media (min-width: $breakpoint) { font-size: 64px; }
                }
            }
            .subtitle {
                margin: 0px 0px 20px 0px;
                text-transform: uppercase;
                h2 { font-size: 20px; }
                @media (min-width: $breakpoint) {
                    margin: 0px 0px 40px 0px;
                    h2 { font-size: 24px; }
                }
            }
            .summary {
                font-size: 16px;
                color: #cccccc;
                @media (min-width: $breakpoint) { font-size: 20px; }
                p {
                    margin: 0px 0px 20px 0px;
                    @media (min-width: $breakpoint) { margin: 0px 0px 40px 0px; }
                }
            }
        }
    }
}