
@import "./variables";

.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    .cover {
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        .wrapper {
            flex-grow: 1;
            padding: 0px 40px 40px 40px;
            color: white;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            .title h1 { font-size: 44px; }
            .subtitle { margin: 0px 0px 40px 0px; }
            .subtitle h2 { font-size: 26px; }
            .summary { font-size: 16px; }
        }
    }
}