
.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 160px 40px 40px 40px;
    letter-spacing: 1px;
    height: 100%;
    min-height: 760px;
    .title {
        font-size: 26px;
        color: white;
        font-weight: bold;
        margin: -4px 0px 10px 0px;
    }
    .item {
        font-size: 14px;
        margin: 0px 0px 10px 0px;
        color: rgba(255, 255, 255, 0.637) !important;

        a {
            color: rgba(255, 255, 255, 0.637) !important;
            text-decoration: none;

            &:hover {
                color: rgb(206, 170, 122) !important;
            }
        }
    }
    .socials {
        display: flex;
        .social {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 50%;
            margin: 0px 20px 0px 0px;
            svg {
                color: white;
                width: 16px;
                height: 16px;
            }
        }
    }
}