@import "./variables";

@import "./variables";

.section {
    position: fixed;
    display: flex;
    left: 5%;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    bottom: 0;
    width: 40vh;
    transform: rotate(-90deg);
    transform-origin: bottom left;

    @media (max-width: $breakpoint) {
        display: none;
    }

    .name {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
    }

    .line {
        flex-grow: 1;
        height: 1px;
        margin-right: 15px;
    }
}

