
@import "./variables";

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    .inner {
        max-width: 990px;
        width: 100%;
        display: flex;
        .padding {
            flex-grow: 1;
            padding: 30px 40px 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            @media (min-width: $breakpoint) {
                flex-direction: row;
                margin: 0px 0px 0px 80px;
            }
            .label {
                font-size: 20px;
                flex-grow: 1;
                text-align: left;
                font-weight: 900;
                margin: 0 0 20px;
                color: black;
                text-align: center;
                @media (min-width: $breakpoint) {
                    text-align: center;
                    font-size: 26px;
                    margin: 0px 20px 0 0px;
                }
            }
            .labels {
                color: #040136;
                margin-right: 10px;
            }
            .input {
                width: 100%;
                height: 50px;
                border: 1px solid rgb(122, 122, 122);
                text-align: center;
                margin: 0px 0px 20px 0px;
                @media (min-width: $breakpoint) {
                    width: 260px;
                    margin: 0px 10px 0px 0px;
                }
                input {
                    text-align: center;
                    font-size: 12px;
                }
            }
            .button {
                width: 100%;
                height: 50px;
                background: #CFAA7A;
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                @media (min-width: $breakpoint) { width: 100px; }

                &:disabled {
                    background-color: #ccc;
                }
            }
            .wall {
                width: 2500px;
                height: 100%;
                position: absolute;
                right: -2500px;
                @media (max-width: $breakpoint) { display: none; }
            }
        }
    }
}
