
@import "./variables";

.subscribe {
    position: relative;
    display: flex;
    color: grey;
   
    margin: 0px 0px 0px 0px;
    width: 100%;
    @media (min-width: $breakpoint) { margin: 0px 0px 0px 0px; }
    .block {
        flex-grow: 1;
        background: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px 0px 0px 30px;
        padding: 30px;
        @media (min-width: $breakpoint) {
            margin: 0px 0px 0px 100px;
            flex-direction: row;
        }
        .label {
            font-size: 24px;
            flex-grow: 1;
            text-align: left;
            font-weight: bold;
            margin: 0px 0px 20px 0px;
            color: black;
            @media (min-width: $breakpoint) {
                margin: 0px 0px 0px 0px;
                text-align: center;
            }
        }
        .labels {
            color: #040136;
            margin-right: 10px;
        }
        .input {
            width: 100%;
            height: 50px;
            border: 1px solid rgb(122, 122, 122);
            text-align: center;
            margin: 0px 0px 20px 0px;
            @media (min-width: $breakpoint) {
                width: 260px;
                margin: 0px 10px 0px 0px;
            }
            input {
                text-align: center;
                font-size: 12px;
            }
        }
        .button {
            width: 100%;
            height: 50px;
            margin-top: 5px;
            background: #CFAA7A;;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            @media (min-width: $breakpoint) { width: 100px; }
        }
    }
}