
@import "./variables";

.switcher {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 40px 0px;
    @media (min-width: $breakpoint) {
        max-width: 820px;
        width: 100%;
        margin: 0px 0px 40px 0px;
    }
    .control {
        max-width: calc(900px - 80px);
        width: calc(100%);
        margin: 0px 0px 40px 0px;
        @media (min-width: $breakpoint) {
            position: relative;
            margin: 0px 0px 40px 0px;
            height: 80px;
        }
        .label {
            width: calc(100% - 80px);
            color: #064D3F;
            font-size: 26px;
            font-weight: bold;
            margin: 0px 40px 40px 40px;
            @media (min-width: $breakpoint) {
                height: 80px;
                float: left;
                width: 25%;
                margin: 0px 0px 0px 0px;
            }
        }
        .swiper {
            max-width: 900px;
            width: calc(100% - 80px);
            height: 60px;
            margin: 0px 40px 0px 40px;
            @media (min-width: $breakpoint) {
                float: left;
                width: 75%;
                height: 80px;
                margin: 0px 0px 0px 0px;
            }
            .con {
                overflow: visible;
                padding: 0px 0px 0px 0px;
            }
            .avatar {
                width: 60px;
                height: 60px;
                padding: 5px;
                border: 1px solid transparent;
                border-radius: 50%;
                overflow: hidden;
                transition: border ease 0.25s;
                @media (min-width: $breakpoint) {
                    width: 80px;
                    height: 80px;
                    padding: 10px;
                }
                img {
                    width: 100%;
                    border-radius: 50%;;
                }
            }
            .true { border: 1px solid #064D3F; }
            .item {
                @media (min-width: $breakpoint) {
                    width: 80px !important;
                    height: 80px;
                    margin: 0px 20px 0px 0px;
                }
            }
        }
    }
    .panel_board {
        max-width: 900px;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        @media (max-width: $breakpoint) {
            margin: 0px 0px 0px 40px;
        }
        @media (min-width: $breakpoint) {
            width: calc(100% - 0px);
            flex-direction: row;
            align-self: center;
        }
        .details {
            background: #064D3F;
            color: white;
            padding: 40px;
            position: relative;
            @media (min-width: $breakpoint) {
                height: 400px;
            }
            .header {
                font-size: 24px;
                font-weight: bold;
                margin: 0px 0px 10px 0px;
            }
            .op {
                font-size: 18px;
                margin: 0px 0px 10px 0px;
            }
            .br {
                width: 200px;
                height: 1px;
                background: white;
                margin: 0px 0px 20px 0px;
            }
            .summary {
                font-size: 16px;
                line-height: 24px;
                margin: 0px 0px 20px 0px;
            }
            .description {
                font-size: 16px;
                line-height: 24px;
            }
            .bar {
                @media (max-width: $breakpoint) {
                    width: 100%;
                    height: 100px;
                    position: absolute;
                    bottom: -100px;
                    background: #064D3F;
                    left: 0px;
                }
                @media (min-width: $breakpoint) {
                    width: 100px;
                    height: 100%;
                    position: absolute;
                    right: -100px;
                    background: #064D3F;
                    bottom: 0px;
                }
            }
        }
        .portrait {
            width: 60%;
            position: relative;
            left: 40px;
            z-index: 1;
            .image { width: 100%; }
            @media (min-width: $breakpoint) {
                min-width: 220px;
                position: static;
                display: flex;
                align-items: center;
            }
        }
    }
}