
.board {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
    align-items: center;

    .dots {
      width: 18%;
      height: 100%;
      padding: 5% 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      
      .thumbnail {
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
      p {
        margin-top: 10px;
        font-size: 16px;
        color: black;
      }
    }

    .block {
      position: relative;
      margin: auto;
      display: flex;
      width: 82%;
      height: 100%;
      background: #16172C;
      padding: 5%;
      margin: 2%;
      min-width: 900px;
      min-height: 600px;
      max-height: 800px;

      .name {
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 12px;
        color: #CFAA7A;
        h1 {font-size: 35px; }
      }

      .role {
        line-height: 40px;
        margin-bottom: 12px;
        color: #CFAA7A;
        h2 {font-size: 23px; font-weight: normal;}
      }

      hr {
        width: 100px;
        margin: 30px 0;
        color:slategray;
      }

      .info {
        font-size: 14px;
        line-height: 30px;
        margin: 0px 0px 40px 0px;
        color:whitesmoke;
        letter-spacing: 3px;
        max-width: 500px;
      }

      .image {
        right: -38px;
        top: 15%;
        bottom: 15%;
        position: absolute;
        width: 300px;
        height: 70%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        
      }
    }
  }