
.board {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    

    .dots {
      width: 20%;
      margin: auto;
      display: flex;
      padding: 0 5%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
      .thumbnail {
        width: 130px;
        height: 130px;
        margin: 10% 0;
        border-radius: 50%;
      }
      p {
        font-size: 14px;
        color: white;
      }
    }

    .block {
      margin: auto;
      display: flex;
      width: 80%;
      background: #16172C;
      padding: 80px 80px 100px 80px;
      .pagination {
        display: flex;
        align-items: flex-end;
        margin: 0px 0px 40px 0px;
        font-weight: bold;
        .index {
          font-size: 50px;
          line-height: 35px;
          color: white;
          margin: 0px 10px 0px 0px;
        }
        .count {
          font-size: 16px;
          line-height: 12px;
          color: rgb(155, 155, 155);
          margin: 0px 20px 0px 0px;
        }
      }
      .name {
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 12px;
        color: #CFAA7A;
        h1 {font-size: 35px; }
      }

      .role {
        line-height: 40px;
        margin-bottom: 12px;
        color: #CFAA7A;
        h2 {font-size: 23px; font-weight: normal;}
      }

      .info {
        line-height: 40px;
        margin: 0px 0px 40px 0px;
        color: #b9b9b9;
        letter-spacing: 3px;
      }

      .image {
        right: 0;
        position: relative;
        width: 300px;
        height: 500px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        
      }
    }
  }