@import "./variables";
.container{
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  min-height: 1300px;
  width: 100%;
  background-image: url("/images/thankyou.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 450px 40px 40px;
  @media (max-width: $breakpoint) {
    min-height: 1000px;
    padding: 200px 40px 40px;
  }

  .title {
    margin-top: -140px;

    @media (max-width: $breakpoint) {
      margin-top: -50px;
      letter-spacing: 0.5px;
    }

    h1 {
      font-weight: 900;
      font-size: 44px;
      line-height: 50px;
    }
    @media (max-width: $breakpoint) {
      h1 {
        text-align: center;
        font-size: 28px;
      }
    }
  }
  .divider {
    width: 120px;
    height: 1px;
    background: white;
    margin: 25px 0px 40px 0px;

    @media (max-width: $breakpoint) {
      margin: 15px 0px 30px 0px;
    }
  }
  .sub {
    font-size: 18px;
    color: $blue;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
    @media (max-width: $breakpoint) {
      font-size: 14px;
      text-align: center;

    }
  }
  .description {
    font-size: 16px;
    color: $blue;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-weight: 400;
    width: 40%;
    @media (max-width: $breakpoint) {
      font-size: 14px;
      text-align: center;
      width: 100%;
    }
  }

  .success {
    color: $blue;
    font-weight: 900;
  }

  .buttonArea{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .buttonSubmit{
      margin-top: 10px;
      background: $gold;
      padding: 15px;
      width: 200px;
      text-transform: uppercase;

      &:disabled {
        background-color: #ccc;
      }
    }
  }
  .input {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(122, 122, 122);
    text-align: center;
    margin: 0px 0px 20px 0px;
    @media (min-width: $breakpoint) {
      width: 200px;
      margin: 0px 10px 0px 0px;
    }
    input {
      text-align: center;
      font-size: 12px;
    }
  }
  .back {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    svg {
      width: 16px;
      height: 16px;
      margin: 0px 0px 0px 10px;
    }
  }
}
