@import "./variables";
.container{
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  min-height: 900px;
  width: 100%;
  background-image: url("/images/thankyou.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  @media (max-width: $breakpoint) {
    min-height: 0px;
  }

  .title {
    margin-top: -140px;

    @media (max-width: $breakpoint) {
      margin-top: -50px;
    }

    h1 {
      font-weight: 900;
      font-size: 50px;
      line-height: 52px;
    }
    @media (max-width: $breakpoint) {
      h1 {
        text-align: center;
        font-size: 28px;
      }
    }
  }
  .divider {
    width: 120px;
    height: 1px;
    background: white;
    margin: 25px 0px 40px 0px;

    @media (max-width: $breakpoint) {
      margin: 15px 0px 30px 0px;
    }
  }
  .sub {
    font-size: 18px;
    color: $blue;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
    @media (max-width: $breakpoint) {
      font-size: 14px;
      text-align: center;

    }
  }
  .description {
    font-size: 16px;
    color: $blue;
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-weight: 400;
    width: 40%;
    @media (max-width: $breakpoint) {
      font-size: 14px;
      text-align: center;
      width: 100%;
    }
  }
  .buttonArea{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .buttonEmail{
      margin-top: 10px;
      background: transparent;
      padding: 15px;
      border: 1px solid black;
      width: 200px;
      text-transform: capitalize;
    }
    .buttonSubmit{
      margin-top: 10px;
      background: $gold;
      padding: 15px;
      width: 200px;
      text-transform: uppercase;
    }
  }
  .back {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    svg {
      width: 16px;
      height: 16px;
      margin: 0px 0px 0px 10px;
    }
  }
}
