
@import "./variables";

.container {

    max-width: 900px;
    width: 100%;

    .padding {
        display: flex;
        flex-direction: column;
        padding: 40px 40px 40px 40px;
        @media (min-width: $breakpoint) {
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 40px 40px 80px;
        }
        .title {
            font-size: 20px;
            line-height: 50px;
            margin: 0px 0px 40px 0px;
            font-weight: bold;
            @media (min-width: $breakpoint) {
                min-width: 182px;
                position: relative;
                top: -16px;
            }
        }
        .divider {
            height: 1px;
            width: 100px;
            min-width: 100px;
            background: $gold;
            margin: 0px 0px 40px 0px;
            @media (min-width: $breakpoint) {
                position: relative;
                top: 12px;
                margin: 0px 20px 0px 20px;
            }
        }
        .paragraphs {
            font-weight: bold;
            font-size: 14px;
            .paragraph {
                
            }
        }
    }

}