
.touch {
    position: fixed;
    width: 0%;
    height: 0%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.171);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}