
@import "./variables";

.wrapper {
    background-color: whitesmoke;
    width: 100%;
    padding: 0 70px;

    @media (max-width: $breakpoint) {
        margin-bottom: 0px;
        padding: 0;
    }
}

.container {
    position: relative;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
    @media (min-width: $breakpoint) { padding-top: 200px; }

    .subtitle {
        text-align: center;
        font-weight: 900;
        font-size: 15px;
        margin: 20px auto 20px;
        letter-spacing: 1px;
        max-width: 800px;

        @media (max-width: $breakpoint) {
            padding: 0 40px;
            margin: 20px 0 20px;
        }
    }

    .text {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        margin: 0 auto 20px;
        letter-spacing: 1px;
        max-width: 600px;

        @media (max-width: $breakpoint) {
            padding: 0 40px;
            margin: 0 0 10px;
        }
    }

    .timezones {
        color: $blue;
        text-align: center;
        font-weight: 900;
        font-size: 16px;
        margin: -3px 0 30px;
    }

    .title {
        text-align: center;
        color: $blue;
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 2px;

        @media (max-width: $breakpoint) {
            font-size: 34px;
        }
    }

    .button {
        margin: 0 0 20px;
        background-color: #CFAB79;
        border: 0;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        color: $blue;
        width: 300px;
        cursor: pointer;
        padding: 20px;

        @media (max-width: $breakpoint) {
            margin: 30px 0 50px;
        }
    }
}